<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="../vendor/autoload.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         verbose="true">
	<coverage includeUncoveredFiles="true">
		<include>
			<directory>../src</directory>
			<directory>../example</directory>
		</include>
		<exclude>
			<directory>../example/*/tests</directory>
		</exclude>
	</coverage>
	<testsuites>
		<testsuite name="tests">
			<directory>.</directory>
		</testsuite>
		<testsuite name="examples">
			<directory>../example</directory>
		</testsuite>
	</testsuites>
</phpunit>
